[Unit]
Description=Docker Application Container Engine
Documentation=https://docs.docker.com
After=network.target docker.socket
Requires=docker.socket

[Service]
Type=notify
ExecStart=/usr/bin/docker daemon -H fd:// \
          -H tcp://0.0.0.0:2375 \
          -H unix:///var/run/docker.sock \
          --insecure-registry 10.100.198.200:5000 \
          --registry-mirror=http://10.100.198.200:5001 \
          --cluster-store=consul://{{ ip }}:8500/swarm \
          --cluster-advertise={{ ip }}:2375 {{ docker_extra }}
MountFlags=slave
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity

[Install]
WantedBy=multi-user.target

