logs_dir: /data/consul/logs

directories:
  - /data/consul/data
  - /data/consul/config
  - "{{ logs_dir }}"

files: [
  { src: 'consul', dest: '/usr/local/bin/consul', mode: '0755' },
  { src: 'ui', dest: '/data/consul', mode: '0644' }
]